html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
.navbar {
  height: 90px;
  position: fixed;
  width: 100vw;
  z-index: 3;
}
.nav-link {
  color: #272362;
  font-family: Istok Web;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.row {
  padding-top: 90px;
  max-width: 100vw;
  margin: 0;
}
.pic,
.about_us,
.services {
  height: 85vh;
}
.contact_us_title {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social {
  color: #fff;
}
.worshops-cont-sect {
  padding-left: 20px;
}
.pic {
  background-image: url(./different-types-of-accounting-systems.jpg.optimal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_us,
.financial {
  background-color: rgb(12, 12, 85);
  padding-top: 30px;
  color: #fff;
}
.container-fluid img {
  width: 120px;
}
.financial h1 {
  font-size: 30px;
}
.services {
  background-color: white;
  color: rgb(12, 12, 85);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.services li {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 500;
}
.services p {
  font-size: 13px;
  font-weight: 700;
}
.contact_us {
  background-color: red;
  min-height: 199px;
  height: auto;
  z-index: 5;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.contact_us_cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}
.about_us_title {
  display: flex;
  flex-direction: column;
}

.about_us_line {
  border-style: solid;
  width: 37px;
  border-width: 1px;
  color: #fff;
}
.about_spacer,
.about_us p {
  color: #fff;
  margin-bottom: 3px;
  font-size: 13px;
}
.spacer {
  height: 8px;
}
.services h1 {
  font-size: 18px;
  width: 280px;
}
.cell,
.e-mail,
.postal,
.site {
  color: #fff;
}
.contact_us h3 {
  font-size: 20px;
  margin-bottom: 0px;
}
.compliance {
  padding-top: 30px;
  padding-left: 40px;
  max-height: 100vh;
  height: auto;
}
.compliance h1 {
  color: rgb(160, 11, 11);
  font-size: 30px;
}
.compliance p i {
  font-weight: 700;
}
.our-services-section,
.about-us-section {
  padding: 0px 0px 20px 0px;
}
.our-services-header-cont .underline,
.our-workshops-header-cont .underline {
  width: 212px;
  height: 14px;
  flex-shrink: 0;
  background: #b40000;
}
.our-services-colums {
  display: flex;
  flex-wrap: wrap;
}
.our-services-colums .card {
  width: 239px;
  height: 188px;
  flex-shrink: 0;
  border-radius: 30px;
}
.view-more {
  font-family: Istok Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #b40000;
  display: flex;
  justify-content: center;
  border-radius: 60px;
  color: #ffff;
  max-width: 286px;
  padding: 4px 10px;
  font-weight: bold;
  text-decoration: none;
}
.our-services-colums .support {
  border-radius: 30px;
  border: 9px solid #141045;
}
.our-services-colums .assessments {
  border-radius: 30px;
  border: 9px solid #b40000;
}
.our-services-colums .workshop {
  border-radius: 30px;
  border: 9px solid #141045;
}
.our-services-colums .business {
  border-radius: 30px;
  border: 9px solid #b40000;
}

.our-services-colums .column1,
.our-services-colums .column2 {
  width: 50%;
}
.our-services-colums .column2 {
  gap: 10px;
}
.our-services-colums .column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
}
.our-services-colums .column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 633px;
}
.hire-us {
  background: #b40000;
  color: #ffff;
  width: 192px;
  height: 131px;
  border: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 100000;
  right: 54px;
}
.column2 .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column2 .card-text {
  text-align: center;
}

p {
  color: #141045;
  font-family: Istok Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-services-header-cont,
.our-workshops-header-cont {
  margin: 20px 20px;
}
.our-services-header-cont h1,
.our-workshops-header-cont h1 {
  margin-left: 10px;
}
.worksop-section .card {
  width: 47%;
  height: auto;
  flex-shrink: 0;
  min-height: 238px;
}
.worksop-section .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.workshop-section {
  background: rgba(217, 217, 217, 0.18);
  padding: 20px 0;
}
.worksop-section .business,
.worksop-section .finance {
  border-radius: 30px;
}
.worksop-section .finance {
  background: #b40000;
}
.worksop-section .business {
  background: #141045;
}
.worksop-section .card h5,
.worksop-section .card p {
  color: #fff;
  font-family: Istok Web;
  font-style: normal;
  line-height: normal;
}
.worksop-section .card h5 {
  font-size: 42px;
  font-weight: 700;
}
.worksop-section .card p {
  font-size: 18px;
  font-weight: 400;
}
.worksop-section {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.blue-box {
  width: 100vw;
  height: 91px;
  flex-shrink: 0;
  background: #141045;
}

.about-us-column {
  display: flex;
}

.services-button-cont .card {
  width: 239px;
  height: 188px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}
.services-button-cont .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-button-cont .card-text {
  text-align: center;
  font-weight: 700 !important;
}
.button1 {
  width: 45px;
  height: 38px;
}
.active-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.background-image-our-services {
  height: 251px;
  background-image: url("./images/close-up-businessman-using-calculator-and-ldigita-2022-09-30-00-51-13-utc-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  background-position: center;
}
.background-image {
  height: 251px;
  background-image: url("./images/multiethnic-business-people-in-meeting-accountant-2023-03-29-18-03-09-utc-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  background-position: center;
}
.blue-red {
  display: flex;
  width: 100vw;
  height: 16px;
}
.blue-red .red {
  width: 50%;
  height: 100%;
  background: #b40000;
}
.hire-mobile {
  display: none;
}
.blue-red .blue {
  width: 50%;
  height: 100%;
  background: #141045;
}
.services-button {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.our-services-content {
  padding: 20px;
}
.support-content li {
  color: #ffff;
}
.support-content {
  color: #fff;
  font-family: Istok Web;
}
.red-bg {
  background: #b40000;
}
.blue-bg {
  background: #141045;
}
.our-services-expl {
  padding: 20px;
  max-width: 1097px;
}
.contact-us-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  background: #ffff;
}
.navbar-collapse {
  padding: 20px;
  background: #fff;
}
.hire-mobile {
  background: #b40000;
  padding-left: 10px;
  border-top: 2px solid grey;
}
.mobile {
  display: none !important;
}
.social-round {
  height: 33px;
  width: 33px;
  background-color: #141045;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-checkbox {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 10px;
}
.row h1 {
  color: #141045;
  font-family: Helvetica;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
.row li {
  list-style: none;
  text-align: left;
}
.row ul {
  padding: 0;
}
.leave-message-name {
  min-width: 350px;
}
@media screen and (min-width: 1044px) {
  .navbar-expand-lg .navbar-nav {
    gap: 50px;
  }
}
@media screen and (max-width: 991px) {
  .navbar-brand {
    margin-right: 150px !important;
  }

  .hire-us {
    display: none !important;
  }
  .hire-mobile {
    display: block !important;
  }
  .hire-mobile a {
    color: #ffff !important;
  }
}
@media screen and (max-width: 653px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 1056px) {
  .services-button-cont .card {
    width: 173px !important;
    height: 137px !important;
  }
  .services-button-cont .card-text {
    font-size: 14px !important;
  }
  .button1 {
    width: 30px;
    height: 15px;
  }
}
@media screen and (max-width: 421px) {
  .services-button-cont .card {
    width: 75px !important;
    height: 60px !important;
    border-radius: 9px !important;
    border-width: 3px !important;
  }
  .leave-message {
    width: 100vw;
  }

  .leave-message-name {
    min-width: 100% !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 504px) {
  .services-button-cont .card {
    width: 90px !important;
    height: 73px !important;
    border-radius: 21px !important;
    border-width: 3px !important;
  }
}
@media screen and (max-width: 504px) {
  .button1 {
    width: 21px;
    height: 8px;
  }
  .services-button-cont .card-body {
    padding: 0 !important;
  }
}
@media screen and (max-width: 800px) {
  .services-button-cont .card-text {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 656px) and (max-width: 800px) {
  .services-button-cont .card {
    width: 140px !important;
    height: 111px !important;
  }
}
@media screen and (min-width: 504px) and (max-width: 800px) {
  .services-button-cont .card {
    border-width: 5px !important;
  }
  .button1 {
    width: 28px;
    height: 13px;
  }
}
@media screen and (min-width: 572px) and (max-width: 656px) {
  .services-button-cont .card {
    width: 119px !important;
    height: 98px !important;
  }
}
@media screen and (min-width: 504px) and (max-width: 572px) {
  .services-button-cont .card {
    width: 110px !important;
    height: 86px !important;
  }
}
@media screen and (max-width: 572px) {
  .services-button-cont .card-text {
    font-size: 11px !important;
  }
  .services-button {
    gap: 9px !important;
  }
}
@media screen and (min-width: 989px) {
  .about_us,
  .services,
  .financial,
  .compliance,
  .contact_us {
    padding-left: 40px;
    padding-right: 40px;
  }
  .about_us p {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 373px) {
  .our-services-colums .card {
    width: 168px !important;
    height: 121px !important;
  }
  .our-services-colums .card p {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 880px) {
  .about-us-column {
    flex-direction: column;
    padding-left: 20px;
  }
}
@media screen and (min-width: 880px) {
  .column-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 545px) and (max-width: 1200pz) {
  .column-image img {
    width: 400px !important;
  }
}
@media screen and (max-width: 989px) {
  .worksop-section .card h5 {
    font-size: 25px !important;
  }
  .worksop-section .card p,
  .view-more {
    font-size: 16px !important;
  }
  .view-more {
    width: 222px;
  }
  p {
    font-size: 19px;
  }

  .our-services-colums .card {
    width: 189px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 30px;
  }
  .our-services-colums .card p {
    font-size: 18px;
  }

  .about_us,
  .contact_us,
  .compliance,
  .financial {
    padding-right: 30px;
  }
  .services {
    padding-top: 28px;
    height: auto;
  }
  .compliance {
    height: auto;
  }
}
@media screen and (min-width: 373px) and (max-width: 653px) {
  .our-services-colums .card {
    width: 224px !important;
    height: 143px !important;
  }
}
@media screen and (max-width: 653px) {
  .our-services-colums {
    flex-direction: column;
    gap: 20px;
  }
  .our-services-colums .column1,
  .our-services-colums .column2 {
    width: 100%;
  }
  .about_spacer,
  .about_us p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 583px) {
  .about_spacer,
  .about_us p {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 545px) {
  .column-image img {
    width: 100% !important;
  }
  .about-us-column {
    display: flex;
    flex-direction: column;
  }
  .about-us-column {
    padding: 0px 10px;
  }
  .about_spacer,
  .about_us p {
    font-size: 13px !important;
  }
  .services li {
    font-size: 15px !important;
  }
  .services p {
    font-size: 15px !important;
  }
  .compliance h1 {
    font-size: 23px !important;
  }
  .compliance p i {
    font-size: 14px;
  }
  .compliance li,
  .financial li {
    font-size: 13px;
  }
  .services {
    padding-top: 28px;
    height: auto;
  }
  .financial h1 {
    font-size: 21px;
  }
  .about_us {
    padding-top: 30px;
  }
  .about_spacer,
  .about_us p {
    font-size: 12.3px !important;
  }
}
@media screen and (min-width: 767px) {
  .pic,
  .about_us,
  .services {
    height: auto;
  }
}
@media screen and (min-width: 373px) and (max-width: 472px) {
  .our-services-colums .card {
    width: 182px !important;
    height: 125px !important;
  }
}
@media screen and (min-width: 373px) and (max-width: 767px) {
  .our-services-colums .card {
    width: 172px;
    height: 131px;
  }
}
@media screen and (max-width: 767px) {
  .worksop-section .card p {
    font-size: 13px !important;
  }
  .worksop-section .card h5 {
    font-size: 15px !important;
  }

  .about_us,
  .financial,
  .compliance,
  .services {
    padding-left: 30px;
  }
  .contact_us {
    padding-left: 20px;
  }
  .about_spacer,
  .about_us p {
    color: #fff;
    margin-bottom: 3px;
    font-size: 15px;
  }
  .pic {
    height: 172px;
  }
  .about_us {
    height: auto;
    padding-bottom: 20px;
  }

  .services h1 {
    font-size: 22px;
    width: 100%;
  }
  .services li {
    padding-left: 30px;
    font-size: 17px;
    font-weight: 500;
  }
  .services p {
    font-size: 16px;
    font-weight: 700;
  }
}
.float {
  cursor: pointer;
  position: fixed;
  width: 40px;
  display: none;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #df3746;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  /* box-shadow: 2px 2px 3px #999; */
  align-items: center;
  justify-content: center;
  transition-property: display;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.my-float {
  margin-top: 22px;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.float {
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
}
.social a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.cell a,
.e-mail a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
